<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
  <servlet>
  <servlet-name>Hello</servlet-name>
  <servlet-class>p2.AdminStorage</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Hello</servlet-name>
  <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>World</servlet-name>
  <servlet-class>p1.ValidAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>World</servlet-name>
  <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Lion</servlet-name>
  <servlet-class>p4.Details</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Lion</servlet-name>
  <url-pattern>/fourth</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Tiger</servlet-name>
  <servlet-class>p5.Patupdate</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Tiger</servlet-name>
  <url-pattern>/fifth</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Parrot</servlet-name>
  <servlet-class>p6.PatDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Parrot</servlet-name>
  <url-pattern>/sixth</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Sparrow</servlet-name>
  <servlet-class>p7.DocDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Sparrow</servlet-name>
  <url-pattern>/seven</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>King</servlet-name>
  <servlet-class>p8.NurDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>King</servlet-name>
  <url-pattern>/eight</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Queen</servlet-name>
  <servlet-class>p9.Special</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Queen</servlet-name>
  <url-pattern>/nine</url-pattern>
  </servlet-mapping>
  
</web-app>